<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Car Rental. Add</title>
</head>
<body>
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="file" name="photo" required>
		<textarea name="des" id="" cols="30" rows="10" style="resize: none;" placeholder="Enter description" required></textarea>
		<input type="number" name="price" max="350" placeholder="Price in $ per day" required>
		<button type="submit" name="add">Add</button>
	</form>
</body>
</html>